# NSAI does not load this file automatically. Use it as a reference for
# PowerShell environment variables before running the app.

NS_USER_AGENT='InspyreSoftworksNationGM/0.1 contact:you@example.com nation:Oringrad'
NS_NATION='Oringrad'
NS_API_VERSION=''
NS_PASSWORD=''
NS_AUTOLOGIN=''
NS_PIN=''

LM_STUDIO_BASE_URL='http://localhost:1234/v1'
LM_STUDIO_MODEL=''
LM_STUDIO_API_KEY='lm-studio'
